body {
	font-family: 'Roboto', sans-serif;
	color:#333333;
}

svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}

svg:not(:root) {
	overflow: hidden;
}

.icon-big>svg {
	width: 100px;
	height: 100px;
}

.icon-medium>svg {
	width: 50px;
	height: 50px;
}

.icon-small>svg {
	width: 34px;
	height: 34px;
}

.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.icon-ex-smaller>svg {
	width: 12px;
	height: 12px;
}

.btn-primary{
	background:#e7430a;
	border:none !important;
	&:hover{
		background:#ce3a07;
	}
}

h1{
	color:#e7430a;
	margin-bottom:50px;
}
.service-view{
	.card{
		border-radius: 10px;
		overflow: hidden;
	}
	.card-body{
		padding:0px;
		.card-title, .card-text{
			padding:15px;
		}
		.card-title{
			border-top:5px solid #e7430a;
			text-align:center;
			font-size:28px;
			margin-bottom:0px;
			background: #fafafa;;
		}
	}
}
.wt-mg-section{
	background:#f7f7f7;
}
.wt-mg {
	.heading{
		display: block;
		font-weight: bold;
		font-size:37px;
		margin-bottom:15px;
		line-height: 40px;
	}
	
	img {
		width: auto;
		margin-left: 20px;
		margin-bottom:20px;
	}
}

ul.list {
	margin-top: 35px;
	padding: 0px;

	li {
		padding: 0 0 10px 20px;
		list-style: none outside;
		font-size: 16px;
		position: relative;
		color: #000;

		&::before {
			content: " ";
			background: #000;
			font-weight: bold;
			position: absolute;
			top: 8px;
			left: 0px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

.gn-section{
	background:#f7f7f7;
}

.ft-section {
	background: #fbd749;

	.ft-logo {
		display: block;
		margin: 0 auto;
	}

	svg{
		fill:#e7430a;
	}

	.copyright {
		background: #e7430a;
		color: #fff;
		font-size: 14px;
		padding: 15px 0;

		p {
			padding: 0px;
			margin: 0px;
		}
	}
	a{
		color:#333333;
		text-decoration: none;
	}
}

.main-banner {
	border-top:5px solid #e7430a;
	.picsum-img-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;}
	.navigator-banner{
		position: absolute;;
		right:0;
		height:150px;
		width:50px;
		background:#d3d3d3;
		top:35%;
		z-index: 5;
		.carousel-control-prev, .carousel-control-next{
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 9;
			position: static;
			width: 100%;
			height: 50px;
		}
		.carousel-control-prev{
			transform: rotate(-90deg);
		}
		.carousel-control-next{
			transform: rotate(90deg);
		}
		.picsum-img-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	.num{
		display: flex;
		justify-content: center;
		align-items: center;
		border-top:1px solid #787878;
		border-bottom:1px solid #787878;
		height:50px;
	}
	.bg-banner {
		position: absolute;
	}

	.carousel {
		z-index: 1;
	}

	.container {
		position: relative;
		height: 500px;
		overflow: hidden;
	}

	.carousel-item {
		.carousel-caption {
			top: 75%;
			left: -100%;
			z-index: 10;
			color: #fff;
			text-align: left;
			width: 600px;
			transform: translateY(-50%);
			transition: all 1s;
			opacity: 0;
			background: #e7430a;
			padding: 5px 15px;
			height: 100px;

			h1 {
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				margin: 0;
			}

			h3 {
				width: 98%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0px;
			}

			.btn {
				border: 2px solid #fff;
				margin-right: 15px;
				margin-top: 50px;
			}

			h3 {
				color: #fff;
			}
		}

		.info-img {
			position: absolute;
			left: -100%;
			top: 40%;
			transform: translateY(-55%);
			z-index: 1;
			transition: all 1s;
			opacity: 0;
			img{
				width:60%;
			}
		}

		&.active {
			.carousel-caption {
				left: 15px;
				opacity: .9;
			}

			.info-img {
				left: 15%;
				opacity: .9;
			}
		}
	}
}
.services-info{
	&:first-child{
		border-bottom:1px solid #ccc;
	}
	i{
		display: flex;
		justify-content: center;
		align-items: center;
		svg{
			fill:#217f2c;
		}
	}
	p{
		font-size:28px;
		text-align: center;
		font-weight: 300;
	}
	.col{
		padding:15px;
		&:nth-child(2){
			border-left:1px solid #ccc;
			border-right:1px solid #ccc;
		}
	}
}


@media (max-width: 576px) {
	.col{
		display:block;
		flex-basis: revert;
	}
	.wt-mg {
		img{
			width:100%;
		}
	}
	img{
		width:100%;
	}
	.picsum-img-wrapper{
		img{
			width: auto;
		}
	}
}

/* Navigation */
#slideNav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    z-index: 11;
}
#slideNav ul {
    list-style: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
}
#slideNav li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.70);
    margin-bottom: 1px;
}
.no-rgba  #slideNav li {background-color: #ffffff}
#slideNav a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}
#slideNav a.disabled {
    cursor: default;
}
.homeSlide{
	height:auto !important; 
}