body {
	color:#333333;
	text-shadow: none !important;
	font-family: 'Roboto', sans-serif;
	background:#fff;
}

svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}
img{
	width:100%;
}
 
.mt-0{
margin:0px; 
}
svg:not(:root) {
	overflow: hidden;
}

.icon-big>svg {
	width: 100px;
	height: 100px;
}

.icon-medium>svg {
	width: 50px;
	height: 50px;
}

.icon-small>svg {
	width: 34px;
	height: 34px;
}

.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.icon-ex-smaller>svg {
	width: 12px;
	height: 12px;
}

.v-align{
	display: flex;
	align-items: center;
}
.d-flex{
	display:flex;  
}

.btn{
	border-radius:3px; 
	text-transform: capitalize;
}

.btn-primary{
	background:#772ab3;
	border:none !important;  
	&:hover{
		background:#570596;
	}
}

ul{
	padding:0px;
}

li{
	list-style-type: none; 
}

.bw-header{ 
	display:flex;
	align-items: center;
	justify-content: space-between; 
	padding:10px 0;
	position:relative; 
	.logo { 
		position: absolute;
		left:0px;
		top:10px;
		height: auto;
    	overflow: hidden;
		padding: 9px;
		z-index: 1;
		background:#fff;
		box-shadow: 1px 0px 5px rgba(0,0,0,0.50); 
		img 
		{width:100%;} 	
	}
	h2{
		text-transform: uppercase; 
		margin: 0px; 
	}  
}
.navbar-inverse{
	background:none;
	border:none;
	margin:0; 
	display: flex;
    align-items: center;
	.navbar-nav{
		float: none;
		display: table;
		margin: 0 auto;
		li{
			a{
				color:#212121; 
				text-shadow: none;
				text-transform: uppercase;
				padding: 5px 10px; 
				margin:0 3px;
				border-radius: 3px;
				font-weight: bold; 
				&:focus, &:hover{
					background-color:#d9ede4;
					color:#212121;  
				}
			}
			&.active{
				a{
					background-color: #056839;
					color:#fff; 
				}
			}
		}
	}
}

.bread-crum{
	margin-top:50px;
}

.about-us{
	margin:50px 0px; 
	
}
.section-02{
	background:#f2f3f4; 
	.card{
		border:2px solid #9359c1; 
		text-align: center;
		padding:15px;
		p{
			font-weight: bold;
			color:#9359c1;
		}
	}
	img{
		height:480px; 
	}
}

.section-03{
	margin:40px 0px 25px;
	.endo-info{
		padding:15px;
		background:#17995b;
		color:#fff;
	}
}

#myCarousel-1{
	height:350px;
	.quotes{
		font-size:50px;
		color:#000; 
	}
	.testimonial{
		.testimonial-img{
			p{
				display: flex;
    			align-items: center;
			}
		img{
			width:50px; 
			height:50px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 15px;
		}
		}
	}
	.carousel-indicators{
		li{
			border-color:#17995b;
			&.active{
				background-color: #17995b;
			}
		}
	}
}


#navbar .btn{ 
	position: absolute; 
	right: 0;
	top: 8px;
}

.lable-strip{
	background:#da5004;
	h2{  
		color:#fff;
		font-weight:bold;
		text-align:center;
		background:#333333;
		padding: 18px 0px;
		position: relative;
		margin: 0 50px; 
	
	.triangle-left {
		width: 0;
		height: 0;
		border-top: 34px solid transparent;
		border-right: 25px solid #333333;
		border-bottom: 34px solid transparent;
		position: absolute;
		left:-25px; 
		top:0px
	}
	.triangle-right {
		width: 0;
		height: 0;
		border-top: 34px solid transparent;
		border-left: 25px solid #333333;
		border-bottom: 34px solid transparent;
		position: absolute;
		right:-25px;
		top:0px
	}
}
}

.services-info{
	margin:50px 0;
	.circle{
		overflow:hidden;
		border-radius:50%; 
		width: 300px;
		height: 300px;
	}
	.title-heading { 
		text-align:center;
		font-size:20px; 
		font-weight: bold; 
		margin-top:20px;
	}
}

.our-achiememnts {
	display: flex;

	img{
		width:100%;
	}
	.col{
		background:#f8f7f7; 
		margin:0px; 
		padding:0px;
		&.space-manage{ 
			border-left:5px solid #e7430a; 
			padding:25px;
		}

	}
}


.g-o{
	margin-top:50px;
	padding:30px 0 60px;
	background:#f8f7f7; 
}

.c-o{
	img{
		width: 100%;
	}
}

.inner-section-o-g{ 
	background: #f8f7f7;
	padding-bottom:30px;
}


ul.list {
	margin-top: 35px;
	padding: 0px;

	li {
		padding: 0 0 10px 20px;
		list-style: none outside;
		font-size: 16px;
		position: relative;
		color: #000;

		&::before {
			content: " ";
			background: #000;
			font-weight: bold;
			position: absolute;
			top: 8px;
			left: 0px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

.gn-section{
	background:#f7f7f7;
}

.ft-section {
	background: #fbd749;

	.ft-logo {
		display: block;
		margin: 0 auto;
	}

	svg{
		fill:#e7430a;
	}

	.copyright {
		background: #e7430a;
		color: #fff;
		font-size: 14px;
		padding: 15px 0;

		p {
			padding: 0px;
			margin: 0px;
		}
	}
	a{
		color:#333333;
		text-decoration: none;
	}
}

.main-banner {
	background: url(../images/banner-1.jpg) no-repeat top center fixed; 
	background-size: cover;
	.container{
		position: relative; 
	}
.plane-baneer{
	img{
		width:100%; 
	}
}
	.carousel-indicators{
		width:100px; 
		left:0px;  
		margin:0px;
		li{
			border:none;
			background:#9a9a9a;
			&.active{
				background:#da5004;
			}
		}
	}
	
	.carousel-caption{
			padding:15px;  
			width:40%;  
			left: 70px;
			text-align:left;
			top: 50%;
    		margin-top: -15%;
				h1{
					color:#fff;
					font-weight:bold; 
					margin:0 0 15px;
				}
				h3{
					color:#EEEF3A;
					font-weight:bold;
				}
		
	}
}

.footer{
	background:#3f2255;  
	padding:25px 0 0;
	.btn{
		border:1px solid #fff !important; 
	} 
	h4, p{   
		color:#fff; 
	}
	svg{
		fill: #fff;    
	} 
	.social-media{
		margin-top:20px; 
	}
	.address{
		margin-top:20px;
	}
	.footer-logo{ 
		
		img{
			background: #fff;
    		padding: 10px;
			width:40%;  
		}
	}
	.footer-li{
		li{
			padding:10px 0;
			list-style: disc inside;
			color:#fff;
			a{
				color:#fff;
			}
		}
	}
} 

@media (max-width: 576px) {
	.navbar-inverse{
		background: #333333;
	}
	.services-info{
		.circle{
			margin:0 auto;   
		}
	}
	.lable-strip {
		h2{
			font-size:12px;
			.triangle-left, .triangle-right { 
				border-top: 24px solid transparent;
   				 border-bottom: 24px solid transparent;
			}
		}
	}
	.our-achiememnts{
		display:block; 
	}
	.col{
		display:block;
		flex-basis: revert;
	}
	.wt-mg {
		img{
			width:100%;
		}
	}

	.d-flex, .v-align{
		display:block;  
	}

	.footer{
		.d-flex{
			display: table;
			margin: 0 auto;
			text-align: center;  
		}
	}

	#myCarousel{
		display:none;
		}
	  
	.picsum-img-wrapper{
		img{
			width: auto;
		}
	}
}
/* Navigation */
#slideNav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    z-index: 11;
}
#slideNav ul {
    list-style: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
}
#slideNav li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.70);
    margin-bottom: 1px;
}
.no-rgba  #slideNav li {background-color: #ffffff}
#slideNav a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}
#slideNav a.disabled {
    cursor: default;
}
.homeSlide{
	height:auto !important; 
} 
.img-width{
	width:100%;
}

