body {
	color:#333333;
	text-shadow: none !important;
	font-family: 'Poppins', sans-serif;
	background:#fff;
	font-size:16px;
	color: #5B5B5B;
}

svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}
img{
	width:100%;
}

h1, h2, h3, h4, h5, h6{
	font-family:'Poppins', sans-serif; 
	margin:0px 0px 10px;
}
 
.form-inline {
	margin-bottom:15px;
	.form-group{
		width:49.6%;
		.form-control{
			width: 100%;
		}
	}
}

.mt-0{
margin:0px; 
}
svg:not(:root) {
	overflow: hidden;
}

.icon-big>svg {
	width: 100px;
	height: 100px;
}

.icon-medium>svg {
	width: 50px;
	height: 50px;
}

.icon-small>svg {
	width: 34px;
	height: 34px;
}

.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.icon-ex-smaller>svg {
	width: 12px;
	height: 12px;
}

.v-align{
	display: flex;
	align-items: center;
}
.d-flex{
	display:flex;  
}

.btn{
	border-radius:3px; 
	text-transform: capitalize;
}

.btn-primary{
	background:#772ab3;
	border:none !important;  
	&:hover{
		background:#570596;
	}
}

ul{
	padding:0px;
}

li{
	list-style-type: none; 
}

.bw-header{ 
	display:flex;
	align-items: center;
	justify-content: space-between; 
	padding:10px 0;
	background:#fff;
	&>.container{
		position:relative; 
	}
	&.fixed{
		position: fixed;
		width: 100%;
		z-index: 1;
		box-shadow: 1px 0px 5px rgba(0,0,0,0.50);
		.logo{
			background:none;
			box-shadow: none; 
			height: 53px;
			top: -2px;
			padding:0px;
		}
	}
	.logo { 
		position: absolute;
		left:0px;
		top:10px;
		height: auto;
    	overflow: hidden;
		padding: 9px;
		z-index: 1;
		background:#fff;
		box-shadow: 1px 0px 5px rgba(0,0,0,0.50); 
		transition: all .2s;
		img 
		{width:100%;} 	
	}
	h2{
		text-transform: uppercase; 
		margin: 0px; 
	}  
	.btn{ 
		position: absolute; 
		right: 0;
		top: 8px;
		z-index:9999;
	}
}
.navbar-inverse{
	background:none;
	border:none;
	margin:0; 
	display: flex;
    align-items: center;
	.navbar-nav{
		float: none;
		display: table;
		margin: 0 auto;
		li{
			background-color:#fff;
			border-radius: 3px;
			margin:0 3px;
			overflow: hidden;
			a{
				color:#212121; 
				text-shadow: none;
				text-transform: uppercase;
				padding: 5px 10px; 
				&:focus, &:hover{
					background-color:#d9ede4;
					color:#212121;  
				}
			}
			&.active{
				a{
					background-color: #056839;
					color:#fff; 
				}
			}
		}
	}
}


.heading-highlighter{
	color:#056839;
}

.bread-crum{
	margin-top:50px;
}

.donation-form{
	position: fixed;
	width:40%;
	height: calc(100vh);
	padding:15px;
	background:#fff;
	z-index: 99999;
	right:-40%;
	transition: all .2s;
	.form-inline {
		.form-group {
			width: 49.5%;
		}	
	}
}
.d-form-overlay{
	background: rgba(0,0,0,0.70);
	position: fixed;
	width: 0;
	height:0;
}

.form-btn{
	i{
		display: none;
	}
	svg{
		fill:#fff;
	}
}

.form-slider{
	overflow: hidden;
	.donation-form{
		right:0px;
	}
	.d-form-overlay{
		width: 100%;
		height:100%;
		z-index: 99999;
	}
}

.about-us{
	margin:50px 0px; 
	
}
.gallary-view{
	margin-top:50px;
	.row {
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0 4px;
	  }
	  
	  /* Create four equal columns that sits next to each other */
	  .column {
		-ms-flex: 25%; /* IE10 */
		flex: 25%;
		max-width: 25%;
		padding: 0 4px;
	  }
	  
	  .column img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
	  }
	  
	  /* Responsive layout - makes a two column-layout instead of four columns */
	  @media screen and (max-width: 800px) {
		.column {
		  -ms-flex: 50%;
		  flex: 50%;
		  max-width: 50%;
		}
	  }
	  
	  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	  @media screen and (max-width: 600px) {
		.column {
		  -ms-flex: 100%;
		  flex: 100%;
		  max-width: 100%;
		}
	  }
}
.section-02{
	background:#f2f3f4; 
	.card{
		border:2px solid #9359c1; 
		text-align: center;
		padding:15px;
		p{
			font-weight: bold;
			color:#9359c1;
		}
	}
	img{
		height:480px; 
	}
}

.section-03{
	margin:40px 0px;

	background-image:linear-gradient(to right, #17995b 50% , transparent 50%);
	.endo-info{
		padding:15px;
		color:#fff;
	}
}

.events-view{
	.card{
		display:flex;
		img{
			width:250px;
			margin-right: 20px;
		}
	}
}

.news-events-view{
	.nav-tabs{
		margin-bottom:30px;
		li{
			background-color: none !important;
			a{
				border:none;
				border-bottom:2px solid transparent;
				padding: 10px 50px 8px;
			}
			&.active{
				a, a:hover,  a:focus{
					border: none;
					border-bottom:2px solid #772ab3;
					color:#772ab3;
				}
			}
		}
	}
	.tab-content{
		.card{
			border:1px solid #eeeeee;
			box-shadow: 0px 3px 3px rgba(200,200,200,0.4);
			.card-body{
				padding:15px;
				.date{
					font-size:13px;
					color: #5B5B5B;
				}
				h5{
					font-size:24px;
					margin: 20px 0;
					color:#333333;
				}
			}
		}
	}
	.event-grid{
		h5{
			padding:15px;
			margin: 0;
			color:#333333;
			font-size:20px;
		}
	}
}

#myCarousel-1{
	height:350px;
	&.slider{
		height:auto;
		.slick-dots {
			li {
				width: 10px;
				height: 10px;
				button{
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border:1px solid #662d91;
					&::before{
						display:none;
					} 
				}
				&.slick-active{
					button{
						background:#662d91;
					}
				}
			}
		}
	}
	.quotes{
		font-size:50px;
		color:#000; 
	}
	.testimonial{
		.testimonial-img{
			p{
				display: flex;
    			align-items: center;
			}
		img{
			width:50px; 
			height:50px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 15px;
		}
		}
	}
	.carousel-indicators{
		li{
			border-color:#17995b;
			&.active{
				background-color: #17995b;
			}
		}
	}
}


.lable-strip{
	background:#da5004;
	h2{  
		color:#fff;
		font-weight:bold;
		text-align:center;
		background:#333333;
		padding: 18px 0px;
		position: relative;
		margin: 0 50px; 
	
	.triangle-left {
		width: 0;
		height: 0;
		border-top: 34px solid transparent;
		border-right: 25px solid #333333;
		border-bottom: 34px solid transparent;
		position: absolute;
		left:-25px; 
		top:0px
	}
	.triangle-right {
		width: 0;
		height: 0;
		border-top: 34px solid transparent;
		border-left: 25px solid #333333;
		border-bottom: 34px solid transparent;
		position: absolute;
		right:-25px;
		top:0px
	}
}
}

.services-info{
	margin:50px 0;
	.circle{
		overflow:hidden;
		border-radius:50%; 
		width: 300px;
		height: 300px;
	}
	.title-heading { 
		text-align:center;
		font-size:20px; 
		font-weight: bold; 
		margin-top:20px;
	}
}

.our-achiememnts {
	display: flex;

	img{
		width:100%;
	}
	.col{
		background:#f8f7f7; 
		margin:0px; 
		padding:0px;
		&.space-manage{ 
			border-left:5px solid #e7430a; 
			padding:25px;
		}

	}
}

.inner-banner{
	position: relative;
	height:380px;
	display: flex;
	align-self: center;
	.container{
		display: flex;
			align-self: center;
	}
		.breadcrum{
			display: flex;
			align-self: center;
			z-index: 1;
			color: #ffffff;
			font-size: 40px;
			line-height: 30px;
			a{
				color: #ffffff;
				font-size: 16px;
				line-height: 30px;	
			}
		}
	.inner-bg{
		position: absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
	}
}
.inner-section-03{
	background:#dfeaff;
    padding: 40px 0 0 0;
	#myCarousel-1 {
		.carousel-indicators {
			li{
				border-color:#662d91;;
				&.active{
					background:#662d91;
				}
			}
		}
	}
	h3{
		color:#206ac0;
	}
	h4{
		color:#662d91;
	}
	.quotes{
		border:2px dashed #cbcdd3;
		color: #000;
		display: flex;
		padding: 10px;
		margin: 15px;
		border-radius: 15px;
		.icon{
				margin-top:-22px;
				margin-right:20px;
				svg{
					fill:#662d91;
				}
		}
		p{
			font-size: 16px;
		}
	}
	.testimonial-img{
		display: flex;
    	justify-content: center;
	}
}

.g-o{
	margin-top:50px;
	padding:30px 0 60px;
	background:#f8f7f7; 
}

.c-o{
	img{
		width: 100%;
	}
}

.inner-section-o-g{ 
	background: #f8f7f7;
	padding-bottom:30px;
}


ul.list {
	margin-top: 35px;
	padding: 0px;

	li {
		padding: 0 0 10px 20px;
		list-style: none outside;
		font-size: 16px;
		position: relative;
		color: #000;

		&::before {
			content: " ";
			background: #000;
			font-weight: bold;
			position: absolute;
			top: 8px;
			left: 0px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

.gn-section{
	background:#f7f7f7;
}

.ft-section {
	background: #fbd749;

	.ft-logo {
		display: block;
		margin: 0 auto;
	}

	svg{
		fill:#e7430a;
	}

	.copyright {
		background: #e7430a;
		color: #fff;
		font-size: 14px;
		padding: 15px 0;

		p {
			padding: 0px;
			margin: 0px;
		}
	}
	a{
		color:#333333;
		text-decoration: none;
	}
}

.main-banner {
	background: url(../images/banner-1.jpg) no-repeat top center fixed; 
	background-size: cover;
	.container{
		position: relative; 
	}
.plane-baneer{
	img{
		width:100%; 
	}
}
	.carousel-indicators{
		width:100px; 
		left:0px;  
		margin:0px;
		li{
			border:none;
			background:#9a9a9a;
			&.active{
				background:#da5004;
			}
		}
	}
	
	.carousel-caption{
			padding:15px;  
			width:40%;  
			left: 70px;
			text-align:left;
			top: 50%;
    		margin-top: -15%;
				h1{
					color:#fff;
					font-weight:bold; 
					margin:0 0 15px;
				}
				h3{
					color:#EEEF3A;
					font-weight:bold;
				}
		
	}
}

.footer{
	background:#3f2255;  
	padding:25px 0 0;
	.btn{
		border:1px solid #fff !important; 
	} 
	h4, p, h5{   
		color:#fff; 
	}
	svg{
		fill: #fff;    
	} 
	.social-media{
		margin-top:20px; 
	}
	.address{
		margin-top:20px;
	}
	.footer-logo{ 
		margin-bottom: 35px;
		img{
			background: #fff;
    		padding: 10px;
			width:40%;  
		}
	}
	.phone{
		margin-top:20px;
	}
	.notification{
		margin:30px 0;
	}
	.footer-li{
		margin-bottom:35px;
		li{
			padding:10px 0;
			list-style: disc inside;
			color:#fff;
			a{
				color:#fff;
			}
		}
		
	}
	.col{
		border-right:1px solid rgba(255,255,255, .2);
		&:last-child{
			border:none;
		}
	}
} 

@media (max-width: 576px) {
	.bw-header{
		display:block;
		box-shadow: 1px 0px 5px rgba(0,0,0,0.50);
		.btn{
			top:100px;
			z-index:0;
			right: 15px;
			top: 0px;
		}
		&.fixed{
			position: relative;
		}
		.logo{
			left: 15px;
			top: 0px;
			height: 37px;
			background:none;
			box-shadow:none;
			width: 18%;
			padding:0px;
		}
	}
	.bread-crum{
		margin:0;
	}
	.form-btn{
		i{
			display: block;
		}
		span{
			display:none;
		}
	}
	.navbar{
		min-height: auto;
		right: 60px;
		.navbar-toggle{
			margin:0px;
		}
		.navbar-nav{
			li{
				margin:10px 0px;
			}
		}
	}
	.navbar-inverse{
		background: #333333;
		display: table;
		float: right;
	}
	.donation-form{
		width:100%;
		overflow-y: auto;
		right:-100%;
	}
	
	.section-03 {
		background:none;
		.section-endo-info{
			background:#17995b;
		}
	}

	.form-inline .form-group, .donation-form .form-inline .form-group{
		width: 100%;
	}

	.d-flex, .v-align{
		display:block;  
	}

	.events-view .card{
		display:block;
		img{
			width:100%;
		}
	}

	.footer{
		.d-flex{
			display: table;
			margin: 0 auto;
			text-align: center;  
		}
		.col{
			border-right:none;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}
	}

	#myCarousel{
		display:none;
		}
	  
	.picsum-img-wrapper{
		img{
			width: auto;
		}
	}
}
/* Navigation */
#slideNav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    z-index: 11;
}
#slideNav ul {
    list-style: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
}
#slideNav li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.70);
    margin-bottom: 1px;
}
.no-rgba  #slideNav li {background-color: #ffffff}
#slideNav a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}
#slideNav a.disabled {
    cursor: default;
}
.homeSlide{
	height:auto !important; 
} 
.img-width{
	width:100%;
}

