body {
	font-family: 'Roboto', sans-serif;
	color:#333333;
	text-shadow: none !important;
}

svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}
 
svg:not(:root) {
	overflow: hidden;
}

.icon-big>svg {
	width: 100px;
	height: 100px;
}

.icon-medium>svg {
	width: 50px;
	height: 50px;
}

.icon-small>svg {
	width: 34px;
	height: 34px;
}

.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.icon-ex-smaller>svg {
	width: 12px;
	height: 12px;
}

.btn-primary{
	background:#e7430a;
	border:none !important;
	&:hover{
		background:#ce3a07;
	}
}

h1{
	color:#000; 
	margin:50px 0; 
}
ul{
	padding:0px;
}

li{
	list-style-type: none; 
}

.bw-header{ 
	display:flex;
	align-items: center;
	justify-content: space-between; 
	padding:10px 0;
	.logo { 
		img 
		{width:50%;}  
	}
}
.navbar-inverse{
	background:#da5004;
	border:none;
	margin:0; 
	.navbar-nav{
		float: none;
		display: table;
		margin: 0 auto;
		li{
			a{
				color:#fff; 
				text-shadow: none;
			}
		}
	}
}

.lable-strip{
	background:#da5004;
	h5{  
		color:#fff;
		font-weight:bold;
		text-align:center;
		background:#333333;
		padding: 18px 0px;
		position: relative;
		margin: 0 50px;
	}
	.triangle-left {
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-right: 25px solid #333333;
		border-bottom: 25px solid transparent;
		position: absolute;
		left:-25px;
		top:0px
	}
	.triangle-right {
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-left: 25px solid #333333;
		border-bottom: 25px solid transparent;
		position: absolute;
		right:-25px;
		top:0px
	}
}

.services-info{
	margin:50px 0;
	.circle{
		overflow:hidden;
		border-radius:50%; 
		width: 300px;
		height: 300px;
	}
	.title-heading { 
		text-align:center;
		font-size:20px; 
		font-weight: bold; 
		margin-top:20px;
	}
}

.our-achiememnts {
	display: flex;

	img{
		width:100%;
	}
	.col{
		background:#f8f7f7; 
		margin:0px; 
		padding:0px;
		&.space-manage{ 
			border-left:5px solid #e7430a; 
			padding:25px;
		}

	}
}


.g-o{
	margin-bottom:25px;
}

.c-o{
	img{
		width: 100%;
	}
}

.inner-section{
	background: #f8f7f7;
}


ul.list {
	margin-top: 35px;
	padding: 0px;

	li {
		padding: 0 0 10px 20px;
		list-style: none outside;
		font-size: 16px;
		position: relative;
		color: #000;

		&::before {
			content: " ";
			background: #000;
			font-weight: bold;
			position: absolute;
			top: 8px;
			left: 0px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

.gn-section{
	background:#f7f7f7;
}

.ft-section {
	background: #fbd749;

	.ft-logo {
		display: block;
		margin: 0 auto;
	}

	svg{
		fill:#e7430a;
	}

	.copyright {
		background: #e7430a;
		color: #fff;
		font-size: 14px;
		padding: 15px 0;

		p {
			padding: 0px;
			margin: 0px;
		}
	}
	a{
		color:#333333;
		text-decoration: none;
	}
}

.main-banner {
.plane-baneer{
	img{
		width:100%; 
	}
}
	.carousel-indicators{
		width:100px; 
		left:0px;  
		margin:0px;
		li{
			border:none;
			background:#9a9a9a;
			&.active{
				background:#da5004;
			}
		}
	}
	.carousel-caption{
		background:#fff;
			padding:15px;  
			width:300px;
			right: 70px;
			left: auto;
			transform: skew(-30deg);
		
		h3{
			color:#000;
			text-align: left;
			margin:0px 0 0 30px;
			transform: skew(30deg);
		}
		span{
			position:absolute;
			width:15px;
			height:100%;
			background:#fff;
			top:0;
			left:-25px;
		}
	}
}

.footer{
	border-top:5px solid #000; 
	padding:25px 0 0; 
	svg{
		fill: #e7430a;
	}
	.footer-li{
		li{
			border-bottom:1px solid #f3f3f3;
			padding:10px 0;
			a{
				color:#593a00;
			}
		}
	}
}

.copyright{
	background:#333333; 
	color:#fff;	  
	p{
		margin:0;
		padding:15px 0;
	} 
}



@media (max-width: 576px) {
	.col{
		display:block;
		flex-basis: revert;
	}
	.wt-mg {
		img{
			width:100%;
		}
	}
	img{
		width:100%;
	}
	#myCarousel{
		display:none;
		}
	  
	.picsum-img-wrapper{
		img{
			width: auto;
		}
	}
}
/* Navigation */
#slideNav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    z-index: 11;
}
#slideNav ul {
    list-style: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
}
#slideNav li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.70);
    margin-bottom: 1px;
}
.no-rgba  #slideNav li {background-color: #ffffff}
#slideNav a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}
#slideNav a.disabled {
    cursor: default;
}
.homeSlide{
	height:auto !important; 
} 
.img-width{
	width:100%;
}

